[Desktop Entry]
Name=QR Code Generator
Comment=Generate QR Codes easily
Exec=gui-qrcode-generator
Icon=${SNAP}/meta/gui/qr-code-snap-icon.png
Terminal=false
Type=Application
Categories=Utility;